<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cel</title>
    <link rel="stylesheet" href="css/main.css"></link>
</head>
<body>

    <canvas id="cel"></canvas>
    <div id="controls">
        <button data-action-add-frame>Add Frame</button>
        <button data-action-play>Play</button>
        <div id="frame-info"></div>
    </div>

    <script type="text/html" id="frame-info-tpl">
        <p><%= current_frame %> / <%= num_frames %></p>
    </script>

    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/dtk.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
